<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-asset-heading" data-cy="AssetCreateUpdateHeading" style="font-size: 30px">Tài sản cố định </h2>

      <div class="row">
        <div class="col-md-5 ">
          <div class="row mb-3">
            <label class="form-label" for="field_name">Tên tài sản cố định</label>
            <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_code">Mã tài sản cố định</label>
            <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_serial">Số serial</label>
            <input type="text" class="form-control" name="serial" id="field_serial" data-cy="serial" formControlName="serial" />
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_type">Loại tài sản</label>
            <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_useTime">Thời gian sử dụng</label>
            <input type="number" class="form-control" name="useTime" id="field_useTime" data-cy="useTime" formControlName="useTime" />
          </div>

        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">

          <div class="row mb-3">
            <label class="form-label" for="field_startDate">Ngày sử dụng</label>
            <div class="input-group">
              <input
                id="field_startDate"
                data-cy="startDate"
                type="text"
                class="form-control"
                name="startDate"
                ngbDatepicker
                #startDateDp="ngbDatepicker"
                formControlName="startDate"
              />
              <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </div>
          </div>
          <div class="row mb-3">
            <label class="form-label" for="field_department">Bộ phận</label>
            <input
              type="text"
              class="form-control"
              name="department"
              id="field_department"
              data-cy="department"
              formControlName="department"
            />
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_status">Tình trạng sử dụng</label>
            <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_setupLocation">Vị trí lắp đặt</label>
            <input
              type="text"
              class="form-control"
              name="setupLocation"
              id="field_setupLocation"
              data-cy="setupLocation"
              formControlName="setupLocation"
            />
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_quantity">Số lượng</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
          </div>

          <div class="row mb-3">
            <label class="form-label" for="field_note">Ghi chú</label>
            <input type="text" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
          </div>
          <div >
            <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
              <span>Cancel</span>
            </button>
            <button
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              class="btn btn-primary"
            >
              <span>Save</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
