<div>
  <h2 id="page-heading" data-cy="AssetHeading">
    <span>Tài sản cố định</span>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-asset"
        [routerLink]="['/asset/new']"
      >
        <span> Thêm mới </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="assets?.length === 0">
    <span>No assets found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="assets && assets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
<!--          <th scope="col" jhiSortBy="id"><span>Id</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th class="text-center" scope="col" jhiSortBy="name" style="width: 13%"><span>Tên tài sản cố định</span> <fa-icon icon="sort"></fa-icon></th>
          <th class="text-center" scope="col" jhiSortBy="code" style="width: 13%"><span>Mã tài sản cố định</span> <fa-icon icon="sort"></fa-icon></th>
<!--          <th scope="col" jhiSortBy="serial"><span>Số serial</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--          <th scope="col" jhiSortBy="type"><span>Loại tài sản</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--          <th scope="col" jhiSortBy="useTime"><span>Thời gian sử dụng</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th class="text-center" scope="col" jhiSortBy="startDate"><span>Ngày bắt đầu</span> <fa-icon icon="sort"></fa-icon></th>
          <th class="text-center" scope="col" jhiSortBy="department"><span>Bộ phận trực tiếp</span> <fa-icon icon="sort"></fa-icon></th>
          <th class="text-center" scope="col" jhiSortBy="status"><span>Tình trạng sử dụng</span> <fa-icon icon="sort"></fa-icon></th>
          <th class="text-center" scope="col" jhiSortBy="setupLocation"><span>Vị trí lắp đặt</span> <fa-icon icon="sort"></fa-icon></th>
<!--          <th scope="col" jhiSortBy="quantity"><span>Số lượng </span> <fa-icon icon="sort"></fa-icon></th>-->
<!--          <th scope="col" jhiSortBy="note"><span>Ghi chú</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th class="text-center" scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asset of assets; trackBy: trackId" data-cy="entityTable">
          <td>{{ asset.name }}</td>
          <td class="text-center">{{ asset.code }}</td>
<!--          <td>{{ asset.serial }}</td>-->
<!--          <td>{{ asset.type }}</td>-->
<!--          <td>{{ asset.useTime }}</td>-->
          <td class="text-center">{{ asset.startDate | formatMediumDate }}</td>
          <td class="text-center">{{ asset.department }}</td>
          <td class="text-center">{{ asset.status }}</td>
          <td class="text-center">{{ asset.setupLocation }}</td>
<!--          <td>{{ asset.quantity }}</td>-->
<!--          <td>{{ asset.note }}</td>-->
          <td  class="text-center" >
            <div class="btn-group">
              <button type="submit" (click)="view(asset)" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button type="submit" [routerLink]="['/asset', asset.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button type="submit" (click)="delete(asset)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="trash-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngFor="let l of newArr(10 - assets.length)">
          <td class="text-center empty-row" style="width: 50px">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row"></td>
          <td class="text-right empty-row">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="assets && assets.length > 0" class="d-flex justify-content-end">

    <div class="p-3 d-flex" style="justify-content: space-between">
      <div style="font-size: 20px;margin-right: 15px">
         <span style="width: 170px; padding-left: 20px; font-size: 15px">Tổng số: {{ this.totalItems }} </span>
      </div>
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
        class=""
      ></ngb-pagination>
    </div>
  </div>
</div>
