<div class="d-flex justify-content-center">
  <div class="col-10">
    <div *ngIf="tool">
      <h2 data-cy="toolDetailsHeading" style="margin-top: 10px"><span>Công cụ dụng cụ</span></h2>
      <hr />
      <div class="row">
        <div class="col-md-5">

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Tên CCDC:</span>
            <span>{{ tool.name }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Mã CCDC:</span>
            <span>{{ tool.code }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Số serial:</span>
            <span>{{ tool.serial }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Bộ phận sử dụng:</span>
            <span>{{ tool.department }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Cá nhân sử dụng:</span>
            <span>{{ tool.owner }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Ngày sử dụng:</span>
            <span>{{ tool.startDate }}</span>
          </div>

        </div>
        <div class="col-md-5">
          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Đơn vị tính:</span>
            <span>{{ tool.unit }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Số lượng:</span>
            <span>{{ tool.quantity }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Đơn giá:</span>
            <span>{{ tool.price }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Thành tiền:</span>
            <span>{{ tool.amount }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Trạng thái:</span>
            <span>{{ tool.status }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Ghi chú:</span>
            <span>{{ tool.note }}</span>
          </div>
        </div>
        <div class="col-md-2 justify-content-center align-items-center">
          <div class="justify-content-center align-items-center">
            <ngx-qrcode *ngIf="tool.code"  [value]="tool.code!" [width]="130" [elementType]="elementType" >
            </ngx-qrcode>
            <button *ngIf="tool.code" class="btn btn-secondary" (click)="downloadQRCode()">Tải xuống QR</button>
          </div>
        </div>
      </div>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      <div style="margin-top: 20px; margin-bottom: 30px">
        <button type="button" (click)="previousState()" class="btn btn-secondary" >
          <span>Đóng</span>
        </button>
        <button type="button" (click)="edit(tool)" class="btn btn-primary">
          <span>Sửa</span>
        </button>
      </div>
    </div>
  </div>
</div>
