<form *ngIf="tool" name="deleteForm" (ngSubmit)="confirmDelete(tool.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="toolDeleteDialogHeading">Xoá công cụ dụng cụ</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p id="jhi-delete-tool-heading">Bạn có thực sự muốn xoá</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon></fa-icon>&nbsp;<span>Cancel</span>
    </button>

    <button id="jhi-confirm-delete-tool" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon></fa-icon>&nbsp;<span>Delete</span>
    </button>
  </div>
</form>
