
<div>
  <router-outlet name="navbar"></router-outlet>
</div>

<div class="container-fluid">
  <div class="card jh-card">
    <router-outlet></router-outlet>
  </div>
<div style="margin-left: 25px">
  <jhi-footer></jhi-footer>
</div>
</div>
