<div class="d-flex justify-content-center">
  <div class="col-10">
    <div *ngIf="asset">
      <h2 data-cy="assetDetailsHeading" style="margin-top: 10px"><span>Tài sản cố định</span></h2>
      <hr />
      <div class="row">
        <div class="col-md-5">
          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Tên TSCĐ:</span>
            <span>{{ asset.name }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Mã TSCĐ:</span>
            <span>{{ asset.code }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Số serial:</span>
            <span>{{ asset.serial }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Loại tài sản: </span>
            <span>{{ asset.type }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Thời gian sử dụng:</span>
            <span>{{ asset.useTime }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Ngàỳ nhận:</span>
            <span>{{ asset.startDate }}</span>
          </div>
        </div>
        <div class="col-md-5">
          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Bộ phận sử dụng:</span>
            <span>{{ asset.department }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Tình trạng sử dụng:</span>
            <span>{{ asset.status}}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Vi trí lắp đặt:</span>
            <span>{{ asset.setupLocation }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Số lượng: </span>
            <span>{{ asset.quantity }}</span>
          </div>

          <div style="display: flex; margin-bottom: 15px">
            <span style="margin-right: 10px; font-weight: bold">Ghi chú:</span>
            <span>{{ asset.note }}</span>
          </div>
        </div>
        <div class="col-md-2 justify-content-center align-items-center">
          <div class="justify-content-center align-items-center">
            <ngx-qrcode *ngIf="asset.code"  [value]="asset.code!" [width]="130" [elementType]="elementType" >
            </ngx-qrcode>
            <button *ngIf="asset.code" class="btn btn-secondary" (click)="downloadQRCode()">Tải xuống QR</button>
          </div>
        </div>
      </div>
      <div style="margin-top: 20px; margin-bottom: 30px">
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <span>Back</span>
        </button>

        <button type="button" (click)="edit(asset)" class="btn btn-primary">
          &nbsp;<span>Edit</span>
        </button>
      </div>
    </div>
  </div>
</div>
