<div class="d-flex justify-content-center">
  <div class="col-8">
    <h2 id="jhi-tool-heading" data-cy="ToolCreateUpdateHeading">Công cụ dụng cụ</h2>

        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

          <div class="row">
            <div class="col-md-5 ">
              <div>
            <div class="row mb-3">
              <label class="form-label" for="field_name">Tên CCDC</label>
              <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
            </div>

            <div class="row mb-3">
              <label class="form-label" for="field_code">Mã CCDC</label>
              <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
            </div>

            <div class="row mb-3">
              <label class="form-label" for="field_startDate">Ngày đưa vào sử dụng</label>
              <div class="input-group">
                <input
                  id="field_startDate"
                  data-cy="startDate"
                  type="text"
                  class="form-control"
                  name="startDate"
                  ngbDatepicker
                  #startDateDp="ngbDatepicker"
                  formControlName="startDate"
                />
                <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
              </div>
            </div>

            <div class="row mb-3">
              <label class="form-label" for="field_serial">Số Serial</label>
              <input type="text" class="form-control" name="serial" id="field_serial" data-cy="serial" formControlName="serial" />
            </div>

            <div class="row mb-3">
              <label class="form-label" for="field_department">Bộ phận sử dụng</label>
              <input
                type="text"
                class="form-control"
                name="department"
                id="field_department"
                data-cy="department"
                formControlName="department"
              />
            </div>

            <div class="row mb-3">
              <label class="form-label" for="field_owner">Cá nhân sử dụng</label>
              <input type="text" class="form-control" name="owner" id="field_owner" data-cy="owner" formControlName="owner" />
            </div>


          </div>
            </div>

            <div class="col-md-5">
              <div class="row mb-3">
                <label class="form-label" for="field_unit">Đơn vị tính</label>
                <input type="text" class="form-control" name="unit" id="field_unit" data-cy="unit" formControlName="unit" />
              </div>

              <div class="row mb-3">
                <label class="form-label" for="field_quantity">Số lượng</label>
                <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
              </div>

              <div class="row mb-3">
                <label class="form-label" for="field_price">Đơn giá</label>
                <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
              </div>

              <div class="row mb-3">
                <label class="form-label" for="field_amount">Thành tiền</label>
                <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
              </div>

              <div class="row mb-3">
                <label class="form-label" for="field_status">Trạng thái</label>
                <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
              </div>

              <div class="row mb-3">
                <label class="form-label" for="field_note">Ghi chú</label>
                <input type="text" class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" />
              </div>
              <div >
                <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
                  <span>Cancel</span>
                </button>
                <button
                  type="submit"
                  id="save-entity"
                  data-cy="entityCreateSaveButton"
                  class="btn btn-primary"
                >
                  <span>Save</span>
                </button>
              </div>
            </div>
          </div>
        </form>
    </div>
</div>
