<div>
  <h2>
    <span style="font-size: 20px">TÀI KHOẢN</span>

  </h2>
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary jh-create-entity" [routerLink]="['./new']">
      <span>Thêm mới</span>
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="table-responsive" *ngIf="users">
    <table class="table table-striped" aria-describedby="user-management-page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
<!--          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>-->
          <th class="text-center" scope="col" jhiSortBy="login"><span>Login</span> <fa-icon icon="sort"></fa-icon></th>
          <th class="text-center" scope="col" jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th class="text-center" scope="col"></th>
          <th class="text-center" scope="col"><span>Role</span></th>
          <th class="text-center" scope="col" jhiSortBy="createdDate"><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th class="text-center" scope="col" jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
          <th class="text-center" scope="col" jhiSortBy="lastModifiedDate"><span>Last Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th class="text-center" scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody *ngIf="users">
        <tr *ngFor="let user of users; trackBy: trackIdentity">
<!--          <td>-->
<!--            <a [routerLink]="['./', user.login, 'view']">{{ user.id }}</a>-->
<!--          </td>-->
          <td>{{ user.login }}</td>
          <td>{{ user.email }}</td>
          <td class="text-center">
            <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated">Deactivated</button>
            <button
              class="btn btn-success btn-sm"
              (click)="setActive(user, false)"
              *ngIf="user.activated"
              [disabled]="!currentAccount || currentAccount.login === user.login"
            >
              Activated
            </button>
          </td>
          <td class="text-center">
            <div *ngFor="let authority of user.authorities">
              <span class="badge bg-info">{{ authority }}</span>
            </div>
          </td>
          <td class="text-center">{{ user.createdDate | date: 'dd/MM/yyyy' }}</td>
          <td class="text-end text-center">{{ user.lastModifiedBy }}</td>
          <td class="text-center">{{ user.lastModifiedDate | date: 'dd/MM/yyyy' }}</td>
          <td class="text-end text-center">
            <div class="btn-group">
              <button type="button" (click)="viewUser(user)" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button type="submit" [routerLink]="['./', user.login, 'edit']" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>

              <button
                type="button"
                (click)="deleteUser(user)"
                class="btn btn-danger btn-sm"
                [disabled]="!currentAccount || currentAccount.login === user.login"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngFor="let l of newArr(10 - users.length)">
          <td class="text-center empty-row" style="width: 50px">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-center empty-row">&nbsp;</td>
          <td class="text-right empty-row">&nbsp;</td>
          <td class="text-right empty-row"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="users">
<!--    <div class="d-flex justify-content-center">-->
<!--      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>-->
<!--    </div>-->

    <div class="d-flex justify-content-end">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
