.text-center {
  text-align: center !important;
  font-size: 14px;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.pagination-controls-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 30px;
}
