<div>
  <h3 id="page-heading" data-cy="ToolHeading">
    <span style="font-size: 20px">CÔNG CỤ DỤNG CỤ</span>
    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tool"
        [routerLink]="['/tool/new']"
      >
        <span> Thêm mới </span>
      </button>
      <button
        (click)="import()"
        style="margin-left: 20px"
        data-cy="entityCreateButton"
        class="btn btn-secondary "
      >
        <span> Import Excel </span>
      </button>
    </div>
  </h3>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tools?.length === 0">
    <span>No tools found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tools && tools.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr>
        <th class="text-center"><span>STT</span></th>
        <th class="text-center" style="width: 10%"><span>Tên CCDC</span></th>
        <th class="text-center" style="width: 10%"><span>MÃ CCDC</span></th>
        <th class="text-center" ><span>Ngày đưa vào sử dụng</span></th>
<!--        <th class="text-center" ><span>Số Serial</span></th>-->
        <th class="text-center" ><span>Bộ phận sử dụng</span></th>
<!--        <th class="text-center" ><span>Cá nhân sử dụng</span></th>-->
        <th class="text-center" ><span>Đơn vị tính</span></th>
<!--        <th class="text-center" ><span>Số lượng</span></th>-->
        <!--          <th scope="col"><span>Đơn giá</span></th>-->
        <th scope="col"><span>Thành tiền</span></th>
        <th class="text-center" ><span>Trạng thái</span></th>
        <!--          <th scope="col"><span>Ghi chú</span></th>-->
        <th class="text-center" >Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tool of tools| paginate: { itemsPerPage: 10, currentPage: page } let i = index">
        <td class="text-center" (dblclick)="view(tool)">{{i + 1}}</td>
        <td (dblclick)="view(tool)" >{{ tool.name }}</td>
        <td (dblclick)="view(tool)">{{ tool.code }}</td>
        <td class="text-center" (dblclick)="view(tool)">{{ tool.startDate | formatDateVnPipe}}</td>
<!--        <td>{{ tool.serial }}</td>-->
        <td (dblclick)="view(tool)">{{ tool.department }}</td>
<!--        <td>{{ tool.owner }}</td>-->
        <td (dblclick)="view(tool)" class="text-center">{{ tool.unit }}</td>
<!--        <td>{{ tool.quantity }}</td>-->
        <!--          <td>{{ tool.price }}</td>-->
        <td (dblclick)="view(tool)">{{ tool.amount }}</td>
        <td (dblclick)="view(tool)" class="text-center">{{ tool.status }}</td>
        <!--          <td>{{ tool.note }}</td>-->
        <td  class="text-end">
          <div class="btn-group">
            <button type="submit" (click)="view(tool)" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline"></span>
            </button>

            <button type="submit" [routerLink]="['/tool', tool.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline"></span>
            </button>

            <button type="submit" (click)="delete(tool)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
              <fa-icon [icon]="'trash-alt'"></fa-icon>
              <span class="d-none d-md-inline"></span>
            </button>
          </div>
        </td>
      </tr>
      <tr *ngFor="let l of newArr(10 - tools.length)">
        <td class="text-center empty-row" style="width: 50px">&nbsp;</td>
        <td class="text-center empty-row">&nbsp;</td>
        <td class="text-center empty-row">&nbsp;</td>
        <td class="text-center empty-row">&nbsp;</td>
        <td class="text-center empty-row">&nbsp;</td>
        <td class="text-center empty-row">&nbsp;</td>
        <td class="text-right empty-row">&nbsp;</td>
        <td class="text-right empty-row"></td>
        <td class="text-right empty-row"></td>
      </tr>
      </tbody>
    </table>
    <div class="pagination-controls-container">
      <pagination-controls (pageChange)="page = $event"> </pagination-controls>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" data-cy="toolDeleteDialogHeading">Import Excel</h4>
    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()" ></button>
  </div>
  <div class="modal-body">
    <input type="file" (change)="readExcel($event)">
  </div>
  <div class="modal-footer">
    <button id="jhi-confirm-delete-tool"
            data-cy="entityConfirmDeleteButton"
            type="submit"
            class="btn btn-danger" (click)="importExcel()">
      <span>Import</span>
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">
      <span>Đóng</span>
    </button>
  </div>

</ng-template>
