<div class="d-flex justify-content-center">
  <div class="col-10">
    <div *ngIf="user">
      <h2 style="margin-top: 10px">
        <span>Tài khoản</span>
      </h2>

      <hr />

      <dl class="row-md jh-entity-details">
        <dt><span>Login</span></dt>
        <dd>
          <span>{{ user.login }}</span>
          <span *ngIf="user.activated" class="badge bg-success">Activated</span>
          <span *ngIf="!user.activated" class="badge bg-danger">Deactivated</span>
        </dd>

        <dt><span>First Name</span></dt>
        <dd>{{ user.firstName }}</dd>

        <dt><span>Last Name</span></dt>
        <dd>{{ user.lastName }}</dd>

        <dt><span>Email</span></dt>
        <dd>{{ user.email }}</dd>

        <dt><span>Created By</span></dt>
        <dd>{{ user.createdBy }}</dd>

        <dt><span>Created Date</span></dt>
        <dd>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span>Last Modified By</span></dt>
        <dd>{{ user.lastModifiedBy }}</dd>

        <dt><span>Last Modified Date</span></dt>
        <dd>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span>Profiles</span></dt>
        <dd>
          <ul class="list-unstyled">
            <li *ngFor="let authority of user.authorities">
              <span class="badge bg-info">{{ authority }}</span>
            </li>
          </ul>
        </dd>
      </dl>
      <div style="margin-top: 20px; margin-bottom: 30px;">
        <button type="submit" (click)="previousState()" class="btn btn-info"><span>Back</span></button>
      </div>
    </div>
  </div>
</div>
